In [7]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
URL = "https://api.iea.org/stats/indicator/TESbySource?countries=[object+Object]&startYear=1990"

def get_data(url):
    """
    Fetch data from the given URL and return it as a pandas DataFrame.
    """
    response = requests.get(url)
    if response.status_code == 200:
        file = json.loads(response.text)
        # Save data to a JSON file
        with open("TESBySource.json", "w") as f:
            json.dump(file, f)
    else:
        raise Exception(f"Failed to fetch data: {response.status_code}")

get_data(URL)

In [3]:
df = pd.read_json("TESBySource.json")
df.head()

,year,short,flowLabel,flowOrder,units,flow,product,productLabel,productOrder,seriesLabel,value,country
0,1990,SOUTHAFRIC,Total energy supply,7,TJ,TES,COAL,Coal,1,Coal,2785859.0,ZAF
1,1990,SPAIN,Total energy supply,7,TJ,TES,COAL,Coal,1,Coal,806670.0,ESP
2,1990,SRILANKA,Total energy supply,7,TJ,TES,COAL,Coal,1,Coal,206.0,LKA
3,1990,SSUDAN,Total energy supply,7,TJ,TES,COAL,Coal,1,Coal,NaN,SSD
4,1990,SURINAME,Total energy supply,7,TJ,TES,COAL,Coal,1,Coal,NaN,SUR

In [4]:
df.shape

(31633, 12)

In [5]:
df['productLabel'].unique()

array(['Coal', 'Natural gas', 'Hydro', 'Nuclear', 'Wind, solar, etc.',
       'Biofuels and waste', 'Oil'], dtype=object)

In [6]:
df.to_csv('TESBySource.csv', index=False)

In [12]:
df2 = pd.read_csv('ETVI_Results.csv')
df2.isna().sum()

Country Code                    0
Country Name                    0
Year                            0
ff_supply_mix_norm            804
ff_electricity_mix_norm      1819
ff_export_gdp_norm            248
ff_rents_gdp_norm               0
energy_consumption_norm      1640
energy_intensity_norm         100
gini_index_norm              1538
bottom20_income_norm         1538
unemployment_rate_norm         96
age_dependency_ratio_norm       0
rd_expenditure_norm           975
rd_researchers_norm          1227
gov_spending_norm             345
gov_revenue_norm              218
E_dim                           0
S_dim                           0
A_dim                           0
ETVI                            0
dtype: int64